body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gameboard{
    background: lightseagreen;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    background: lightslategray;
    display: flex;
    height: 12vw;
    justify-content: space-between;
}
.space{
    background: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    width: 10vw;
}
.odd > .even{
    background: black;
}
.even > .odd{
    background: black;
}
.p1{
    background: white;
    border-radius: 50%;
    height: 85%;
    width: 85%;
}
.p2{
    background: lightcoral;
    border-radius: 50%;
    height: 85%;
    width: 85%;
}